div.background-blue{
    background-color: #004f9a;
}

.white-font {
    color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif
}

.center-text {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.flexbox {
    display: flex;

}

.flex-center {
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex_robin_table {
    flex: 2.5;
    max-height: 450px
}

.flex-robin-graph {
    flex: 2.5;
    max-height: 450px;
}

.flex-robin-images {
    flex: 1;
    min-height: 450px;
    max-height: 450px;
    object-fit: cover;
}

